// Fonts
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@300;500&family=Inconsolata:wght@300&display=swap');

$font-family-sans-serif: 'Encode Sans Condensed', Helvetica, Arial, sans-serif;
$font-family-monospace: 'Inconsolata', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$font-family-base: $font-family-sans-serif;

$font-weight-normal:          300;
$font-weight-bold:            500;

$attention: #DB5461;
$soothing-green: #93C0A4;
$persian-green: #00A896;
$electric-blue: #38AECC;
$grey: #605F5E;

// https://coolors.co/d0ccd0-2d82b7-f06543-70e000-3d3d3d-fbfcff
$green-blue: #2D82B7;
$orange-crayola: #FE7139;
$logo-green: #70E000;
$analogous-logo-green: #00E025;
$highlight-bluegreen: #F0F8FA;
$action-blue: #5C8DDB;
$light-bluegray: #F2F6FA;
// $primary-blue: #1976d2;
$primary-blue: #3884fe;
$warning-red: #fc627a;
$mustard-yellow: #e4dc62;

// Customized Variants
$primary:       $primary-blue;
$secondary:     $analogous-logo-green;
$success:       $logo-green;
$info:          $orange-crayola;
$warning:       $warning-red;
// $danger:        $red !default;
$light:         $light-bluegray;
// $dark:          $gray-800 !default;

.attention {
  color: $grey;
}

.vin {
  font-family: $font-family-monospace;
  font-size: 1rem !important;
}

// Include Bootstrap and BootstrapVue SCSS files
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';