repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: "v3.1.0" # Use the sha or tag you want to point at
    hooks:
      - id: prettier

  - repo: local
    hooks:
      # - id: no-console-statements
      #   name: Check for console.* statements
      #   language: pygrep
      #   # Detect files with console.* statements
      #   entry: "console.*"
      #   args: [--multiline]
      #   types_or: [javascript, jsx, ts, tsx]
      #   exclude: |
      #     (?x)^(
      #       # Exclude specific files and directories
      #       src/App\.vue$|  # Exclude src/App.vue
      #       src/helpers/libs\.js$|
      #       ^tests/          # Exclude all files in tests/
      #     )
      #   pass_filenames: true
      #   always_run: false
      #   stages: [pre-commit, manual]

      - id: validate-sitemap
        name: Validate sitemap.xml
        language: system
        entry: bash -c
        args:
          - |
            TMPDIR=$(mktemp -d)
            curl -s -o ${TMPDIR}/sitemap.xsd https://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd
            xmllint --noout --schema ${TMPDIR}/sitemap.xsd app/public/sitemap.xml
        files: app/public/sitemap.xml
        pass_filenames: false
        always_run: false
        stages: [pre-commit, manual]
